# MinIO version
MINIO_VERSION=RELEASE.2025-02-28T09-55-16Z
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

# Airflow DB credentials
AIRFLOW_DB_USER=
AIRFLOW_DB_PASSWORD=

# Postgres DB credentials
POSTGRES_DB_USER=
POSTGRES_DB_PASSWORD=

# alertservice SMTP credentials
ALERTSERVICE_SMTP_USER=
ALERTSERVICE_SMTP_PASSWORD=

# extractloadlivedata credentials
EXTRACTLOADLIVEDATA_TOKEN=
EXTRACTLOADLIVEDATA_ACCESS_KEY=
EXTRACTLOADLIVEDATA_SECRET_KEY=
EXTRACTLOADLIVEDATA_DB_USER=
EXTRACTLOADLIVEDATA_DB_PASSWORD=
EXTRACTLOADLIVEDATA_AIRFLOW_USER=
EXTRACTLOADLIVEDATA_AIRFLOW_PASSWORD=
EXTRACTLOADLIVEDATA_NOTIFICATIONS_WEBHOOK_URL=
