services:
  minio:
    image:  quay.io/minio/minio:${MINIO_VERSION}
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_storage:/data
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: minioadmin
      MINIO_NOTIFY_KAFKA_ENABLE_EventKafka: "on"
      MINIO_NOTIFY_KAFKA_TOPIC_EventKafka: "sink-products"
      MINIO_NOTIFY_KAFKA_QUEUE_LIMIT_EventKafka: "10000"
      MINIO_NOTIFY_KAFKA_TLS_EventKafka: "off"
    command: server --console-address ":9001" /data
    networks:
       rede_fia:  
  airflow_webserver:
      image: apache/airflow:2.8.4-python3.11
      container_name: airflow_webserver
      restart: always
      environment:
        AIRFLOW__CORE__EXECUTOR: LocalExecutor
        AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@airflow_postgres/airflow
        AIRFLOW__CORE__FERNET_KEY: '${FERNET_KEY:-LBi3PfqopCGRKZlFz2mXEjOCgxBtYy7q_Q3vF3rcUeA=}'
        AIRFLOW__WEBSERVER__SECRET_KEY: '${FERNET_KEY:-LBi3PfqopCGRKZlFz2mXEjOCgxBtYy7q_Q3vF3rcUeA2}'
        AIRFLOW__CORE__LOAD_EXAMPLES: 'True'
        AIRFLOW__API__AUTH_BACKENDS: 'airflow.api.auth.backend.basic_auth'
      volumes:
        - ./airflow/dags:/opt/airflow/dags
        - ./airflow/requirements.txt:/requirements.txt
        - ./airflow/connections.json:/opt/airflow/connections.json
        - ./airflow/variables.json:/opt/airflow/variables.json
      ports:
        - "8080:8080"
      depends_on:
        - airflow_postgres
      networks: 
        - rede_fia  
      command: >
        bash -c "pip install -r /requirements.txt && airflow db init && airflow webserver"

  airflow_scheduler:
    image: apache/airflow:2.8.4-python3.11
    restart: always
    container_name: airflow_scheduler
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@airflow_postgres/airflow
      AIRFLOW__CORE__FERNET_KEY: '${FERNET_KEY:-LBi3PfqopCGRKZlFz2mXEjOCgxBtYy7q_Q3vF3rcUeA=}'
      AIRFLOW__WEBSERVER__SECRET_KEY: '${FERNET_KEY:-LBi3PfqopCGRKZlFz2mXEjOCgxBtYy7q_Q3vF3rcUeA2}'
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/requirements.txt:/requirements.txt
      - ./airflow/connections.json:/opt/airflow/connections.json
      - ./airflow/variables.json:/opt/airflow/variables.json
    depends_on:
      - airflow_postgres
    networks:
      - rede_fia
    command: >
      bash -c "pip install -r /requirements.txt && airflow scheduler"

  airflow_postgres:
    image: postgres:13
    container_name: airflow_postgres
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    ports:
      - "5432:5432"
    volumes:
      - airflow_db_data:/var/lib/postgresql/data
    networks:
      - rede_fia

  postgres:
    build:
      context: ./postgres
      dockerfile: Dockerfile
    container_name: postgres
    ports:
      - 5532:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    command: postgres -c shared_preload_libraries='pg_partman_bgw'
    networks:
      - rede_fia

  extractloadlivedata:
    build:
      context: extractloadlivedata
      dockerfile: Dockerfile
    container_name: extractloadlivedata
    depends_on:
      - minio
    volumes:
      - ./ingest_buffer:/app/data/staging
      - ./.diskcache_pending_invocations:/app/data/.diskcache_pending_invocations
    networks:
      - rede_fia
    restart: always

  jupyter:
    build: 
      context: jupyter
      dockerfile: Dockerfile    
    container_name: jupyter_exploration
    ports:
      - "8888:8888"
    environment:
      - JUPYTER_ENABLE_LAB=yes
      - JUPYTER_TOKEN=bus_analytics  # Use a secure token in production
    volumes:
      - ./jupyter/notebooks:/home/jovyan/work
    networks:
      - rede_fia

networks:
  rede_fia:
    driver: bridge

volumes:
  minio_storage: {}
  postgres_data: {}
  airflow_db_data: {}
  ingest_buffer: {}
  diskcache_pending_invocations: {}