# Analysis configuration
ANALYSIS_HOURS_WINDOW=

# Storage configuration
APP_FOLDER=
TRUSTED_BUCKET=

# Table configuration
POSITIONS_TABLE_NAME=
FINISHED_TRIPS_TABLE_NAME=

# MinIO configuration
MINIO_ENDPOINT=
ACCESS_KEY=
SECRET_KEY=

# Database configuration
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USER=
DB_PASSWORD=
DB_SSLMODE=
