# Extraction configuration
EXTRACTION_INTERVAL_SECONDS=
API_BASE_URL=
TOKEN=
API_MAX_RETRIES=

# Local storage
INGEST_BUFFER_PATH=
DATA_COMPRESSION_ON_SAVE=
PROCESSING_REQUESTS_CACHE_DIR=

# MinIO configuration
MINIO_ENDPOINT=
ACCESS_KEY=
SECRET_KEY=
SOURCE_BUCKET=
APP_FOLDER=
STORAGE_MAX_RETRIES=

# Database configuration
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USER=
DB_PASSWORD=
DB_SSLMODE=
RAW_EVENTS_TABLE_NAME=

# Processing notification mechanism
NOTIFICATION_ENGINE=

# Airflow configuration (for airflow notification engine)
AIRFLOW_USER=
AIRFLOW_PASSWORD=
AIRFLOW_WEBSERVER=
AIRFLOW_DAG_NAME=
INVOKATIONS_CACHE_DIR=

# Alerting
NOTIFICATIONS_WEBHOOK_URL=
