# GTFS extraction configuration
GTFS_URL=
LOGIN=
PASSWORD=
LOCAL_DOWNLOADS_FOLDER=

# Storage configuration
APP_FOLDER=
GTFS_FOLDER=
RAW_BUCKET=
TRUSTED_BUCKET=

# Table configuration
TRIP_DETAILS_TABLE_NAME=

# MinIO configuration
MINIO_ENDPOINT=
ACCESS_KEY=
SECRET_KEY=
